/*
    hexa color system 
    ff0000
    red + green 0 hain + blue 0 hain

*/
/* color patter free website for combinations color */
h1 {
    color: #00ff00;
}

body {
    background-color: #4287f5;
}

h2 {
    color: #ffff00;
}